#start{
  padding: 40px;
  max-width: 1000px;
  margin: 70px auto;
  display: none;
}

#question1,
#question2,
#question3,
#question4,
#question5, 
#yourscore,
#highscoresbox{
padding: 40px;
max-width: 1000px;
margin: 40px auto;
display: none;
}

#scoresheader{
  margin: auto;
  font-weight: bolder;
  font-size: 45px;    
}

#scoresgo,
#quizback { 
  font-size: 30px;
  font-weight: 500;
  border: 0px;
}

#scores {
  font-size: 30px;

}

#timer {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin: 30px auto;

}


#startBtn {
  font-size: 25px;
}

#words{
  font-size: 30px;
}

#main {
  width: 80%;
  max-width: 1000px;
  margin: 100px auto;
  padding: 10px;
  border-radius: 10px;
}

#yourscore {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#button1,
#button2,
#button3,
#button4,
#button5 {
  font-size: 25px;
  font-weight: bold;
  margin: 30px auto;
}

#lose {
  margin-top: 200px;
  font-size: xx-large;
  text-align: center;
}

label {
  display: block;
  font-size: 30px;
}
      
input[type=radio] {
  width: 40px;
  margin-left: 20px;}